.book-mark-item {
  border: 1px solid #e8e8e8;
  padding: 12px;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-mark-item:hover {
  border-color: rgb(22, 119, 255);
  background-color: #e6f4ff;
  cursor: pointer;
}