.logItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 6px 16px;
  width: 100%;
}

.logTree {
  display: flex;
  align-items: center;
}

.logTree > * {
  margin-left: 8px !important;
}

.logItem * {
  font-size: 14px !important;
  line-height: 1.5 !important;
  background-color: transparent !important;
}