.shortcut {
  text-align: left;
  margin-bottom: 16px;
  display: flex;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.inner {
  display: flex;
  overflow: auto;
  box-sizing: border-box;
}

.inner::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.shortcutItem {
  border: 1px solid #e8e8e8;
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 12px;
  scroll-margin-inline: 8px;
}
.shortcut .shortcutItem:last-child {
  margin-right: 1px;
}

.shadow {
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 20px;
  border: none !important;
  padding: 0 !important;
  pointer-events: none;
}

.shadow-left {
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.25), transparent);
  opacity: 0;
}

.shadow-right {
  right: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.25), transparent);
  opacity: 0;
}
