:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: white;
  border-radius: 12px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --hGap: 24px;
  --vGap: 16px;
}

body {
  margin: var(--vGap);
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  height: calc(100vh - (2 * var(--vGap)));
}

.scroller {
  flex: 1;
  height: 1px;
  overflow: auto;
}

.info {
  font-size: 12px;
  margin-bottom: 8px;
  text-align: left;
  color: rgba(0, 0, 0, 0.45);
}
