:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: white;
  border-radius: 12px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --hGap: 24px;
  --vGap: 16px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  height: 100%;
  width: 100%;
}

body * {
  user-select: none;
  -webkit-user-select: none;
  outline: none;
}

svg:active,
svg:focus {
  outline: none;
}

.container {
  flex: 1;
  height: 1px;
  margin-top: var(--hGap);
  padding: 0 var(--vGap);
  width: calc(100% - (2 * var(--vGap)));
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: transparent;
}

.scroller {
  flex: 1;
  height: 1px;
  overflow: auto;
  margin-bottom: var(--hGap);
}

.info {
  font-size: 12px;
  margin-bottom: 8px;
  text-align: left;
  color: rgba(0, 0, 0, 0.45);
}

.ant-modal-mask {
  border-radius: 12px;
}
