@import '~antd/dist/antd.css';
/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 600px;
}

#container {
  margin: 0;
  padding: 0;
  height: 600px;
  display: flex;
  flex: 1;
  padding: 12px;
}

.file-tree {
  /* height: 100%; */
  /* padding: 24px; */
  width: 356px;
}

.ant-tree.ant-tree-directory .ant-tree-treenode:hover::before {
  background-color: transparent;
}
.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before, .ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
  background: #1890ff !important;
}

#editor {
  flex: 1;
}