<!DOCTYPE html>
<html style="height: fit-content; width: fit-content;">
  <head>
    <meta charset="utf-8" />
    <title>Pastry</title>
  </head>
  <body style="background: transparent; height: fit-content; width: fit-content;">
    <div style="width: fit-content; height: fit-content;" id="root"></div>
  </body>
</html>
